### <span style='color:Green'> Imam Abdullah Khan <br> <span style='color:Blue'>Domain: Data Science & Business Analytics
#### Task 04: Exploratory Data Analysis - Terrorism<br>Problem Statement: As a security/defense analyst, try to find:
- The hot zone of terrorism.
- What all security issues and insights can be derived by EDA.

## Importing Libraries and Loading Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("globalterrorism.csv", encoding = "latin1", low_memory=False)
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 146.9+ MB

In [4]:
df.dropna(thresh=df.shape[0]*0.95,how='all',axis=1, inplace=True )

In [5]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country',
       'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude',
       'longitude', 'specificity', 'vicinity', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1',
       'attacktype1_txt', 'targtype1', 'targtype1_txt', 'target1', 'natlty1',
       'natlty1_txt', 'gname', 'guncertain1', 'individual', 'weaptype1',
       'weaptype1_txt', 'property', 'ishostkid', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY'],
      dtype='object')

## Selecting features to detect hot zones

In [6]:
features = ['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country',
       'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude',
       'longitude', 'specificity', 'vicinity', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1',
       'attacktype1_txt', 'targtype1', 'targtype1_txt']
new_df = df[features]

In [7]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 26 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   country          181691 non-null  int64
 6   country_txt      181691 non-null  object
 7   region           181691 non-null  int64
 8   region_txt       181691 non-null  object
 9   provstate        181270 non-null  object
 10  city             181257 non-null  object
 11  latitude         177135 non-null  float64
 12  longitude        177134 non-null  float64
 13  specificity      181685 non-null  float64
 14  vicinity         181691 non-null  int64
 15  crit1            181691 non-null  int64
 16  crit2            181691 non-null  int64
 17  crit3            181691 non-null  int64
 18  doubtterr        181690 non-null  float64
 19  multiple         181690 non-null  float64
 20  success          181691 non-null  int64
 21  suicide          181691 non-null  int64
 22  attacktype1      181691 non-null  int64
 23  attacktype1_txt  181691 non-null  object
 24  targtype1        181691 non-null  int64
 25  targtype1_txt    181691 non-null  object
dtypes: float64(5), int64(15), object(6)
memory usage: 31.9+ MB

## Exporting csv file

In [8]:
new_df.to_csv('hot_zone.csv', index=False)